body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:89px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:89px;
  display:flex;
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u865 {
  position:absolute;
  left:0px;
  top:89px;
}
#u865_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:682px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:375px;
  height:688px;
  display:flex;
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:105px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:31px;
  width:182px;
  height:105px;
  display:flex;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:156px;
}
.u869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:156px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u870 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:156px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:183px;
  width:283px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:731px;
  width:375px;
  height:81px;
  display:flex;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
}
.u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u874 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u872-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:734px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:360px;
  width:136px;
  height:136px;
  display:flex;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
