body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:636px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
}
.u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
  display:flex;
  opacity:0.1;
  color:#000000;
}
.u707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u708 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:7px;
  width:16px;
  height:16px;
  display:flex;
}
.u708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
.u709 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:19px;
  width:156px;
  height:15px;
  display:flex;
  color:#000000;
  text-align:center;
}
.u709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u709_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u706-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:132px;
  width:234px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
  display:flex;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(15, 171, 107, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0FAB6B;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:320px;
  width:119px;
  height:28px;
  display:flex;
  color:#0FAB6B;
}
#u711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
