body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
}
.u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u78 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
}
#u76-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:145px;
  height:53px;
}
#u76-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:145px;
  height:53px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:560px;
  width:145px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
