body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:74px;
}
.u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:74px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u582 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u580-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:74px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:717px;
  width:73px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
