body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:701px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
.u306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:#000000;
}
.u306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u307 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:7px;
  width:16px;
  height:16px;
  display:flex;
}
.u307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
.u308 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:19px;
  width:78px;
  height:45px;
  display:flex;
  color:#000000;
  text-align:center;
}
.u308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u308_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u305-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:64px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:234px;
  width:234px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:344px;
  width:300px;
  height:30px;
  display:flex;
}
#u309 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
  display:flex;
}
#u310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0FAB6B;
  text-align:right;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:322px;
  width:119px;
  height:23px;
  display:flex;
  color:#0FAB6B;
  text-align:right;
}
#u311 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
